@model List<User>

<div style="display:flex;flex-wrap:wrap;gap:30px">
    @foreach (var user in Model)
    {
        <div style="width:210px;padding: 13px; box-shadow: 0px 1px 15px 0px #00000040; border-radius: 12px;">
            <p><b>Name: </b>@user.Name</p>
            <p><b>Surname: </b>@user.Surname</p>
            <p><b>Username: </b>@user.Username</p>
            <p><b>Email: </b>@user.Email</p>
            <p><b>Password: </b>@user.Password</p>
        </div>       
        
    }
</div>